 * {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
 }

 .lado-esquerdo {
    display: inline-block;


 }

 h2 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
 }

 h1 {
    font-size: 50px;
    margin: 300px 0px 0px 150px;

 }

 #h1-word {
    margin-left: 40px;
 }

 .lado-direito {
    display: inline-block;
    position: absolute;
    margin-left: 700px;
 }

 